# ------------------------------------------------
# 1. 忽略编译生成的垃圾文件夹
# ------------------------------------------------
# 对应你 MDK-ARM 里那个和项目同名的文件夹，这里面全是 .o .d 文件
MDK-ARM/MyApp_KeyLEDLCD/

# Keil 自动生成的运行时环境和调试配置
MDK-ARM/RTE/
MDK-ARM/DebugConfig/

# ------------------------------------------------
# 2. 忽略 Keil 的临时文件和个人配置
# ------------------------------------------------
# 这种带一串数字的 uvguix 文件是记录你窗口布局的，不重要且名字老变
*.uvguix.*

# 记录调试器选项和断点信息的，换台电脑就没用了，且变动频繁
*.uvoptx

# 编译产生的中间文件（如果它们跑到了外面）
*.dep
*.bat
*.lst
*.map
*.o
*.d
*.crf
*.htm
*.lnp
*.axf
*.elf
*.hex
*.bin

# 备份文件
*.bak

# ------------------------------------------------
# 3. 必须要保留的重要文件 (加 ! 表示“不忽略”)
# ------------------------------------------------
# 虽然上面写了忽略规则，但为了保险，强调一下这些必须留着：
!*.uvprojx
!*.s
!*.c
!*.h
!*.ioc
!.mxproject